{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
    
    <title>
        {% block title %}
        <!-- Заголовок -->
        {% endblock %}
    </title>

    {% block css %}
    <link rel="stylesheet" href="{% static 'common/css/normalize.min.css' %}">
    <link rel="stylesheet" href="{% static 'common/css/base.css' %}">
    {% endblock %}
</head>
<body>
    <header class="header container-fluid">
        <div class="header__wrap container">
            <a href="#" class="header__logo">Мой магазин</a>
            <nav class="header__nav">
                <ul class="header__list">
                    <li class="header__item"><a href="{% url 'products:list' %}" class="header__link">Продукты</a></li>
                    <li class="header__item"><a href="{% url 'products:basket' %}" class="header__link">Корзина</a></li>
                </ul>
            </nav>
        </div>
    </header>

    {% block content %}
    <!-- Основной контент -->
    {% endblock %}
    
    {% block js %}
    <!-- Скрипты -->
    {% endblock %}
</body>
</html>
