@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1197px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container-fluid {
    max-width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 99999;
    background-color: gray;
    box-shadow: 0 0 5px 0 black;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    transition: .3s;
}

.header__logo:hover {
    color: rgb(224, 224, 224);
}

.header__list {
    display: flex;
    list-style-type: none;
    gap: 40px;
}

.header__link {
    color: white;
    text-decoration: none;
    transition: .3s;
}

.header__link:hover {
    color: rgb(224, 224, 224);
}
