@import '../../UIKit/Theme/Styles/_variables_global.scss';

.translucent-background {
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
}

.popup {
	position: absolute;
	width: 40%;
	min-width: 500px;
	background-color: $color-white;
	border-radius: 10px;
	padding-top: 10px;

	.popup__clouse {
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer;

		.popup__clouse__svg {
			width: 20px;
			height: 20px;
		}

		&:hover {
			opacity: 0.6;
		}
	}

	.popup__content {
		width: 100%;
		padding: 20px;
	}
}
